body{
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.header-block{
    width: 90%;
    margin: auto;
}

.header-top{
    height: 50px;
    background: #162028;
    position: relative;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 0 15px 0 0;
    padding: 13px;
}

.header-nav a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
}

.header-nav a:hover{
    color: white;

}

.logotipo{
    margin: 5px 0 0 150px;
}

.descricao{
    padding: 50px 100px;
    text-align: center;
}

.descricao h1{
    font-size: 36px;
    color: #252525;
}

.descricao p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}

.gallery{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}


.about{
    background-color: #003d52; 
    padding: 100px;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.about p{
    line-height: 1.5;
    width: 70%;
    font-size: 10pt;
    margin-top: 1em;
}

.about h2{
    text-transform: uppercase;
    font-size: 36pt;
    font-weight: normal;
}

.contact{
    margin: 50px 0;
}

.contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.map{
    width: 100%;
    height: 480px;
    margin-top: 15px;

}

footer{
    background: #0b171f;
    color: #6f8597;
    font-size: 12px;
    margin-top: 2em;
    padding: 25px;
    text-align: center;
    letter-spacing: 5px;
}




